<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wanghaomiao.seimi.mapper.SeimiAgentMapper">
  <resultMap id="BaseResultMap" type="cn.wanghaomiao.seimi.model.SeimiAgent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="seimiagent_host" jdbcType="VARCHAR" property="seimiagentHost" />
    <result column="seimiagent_port" jdbcType="INTEGER" property="seimiagentPort" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, seimiagent_host, seimiagent_port
  </sql>
  <select id="selectByExample" parameterType="cn.wanghaomiao.seimi.model.SeimiAgentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from seimiagent
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from seimiagent
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from seimiagent
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.wanghaomiao.seimi.model.SeimiAgentExample">
    delete from seimiagent
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.wanghaomiao.seimi.model.SeimiAgent">
    insert into seimiagent (id, seimiagent_host, seimiagent_port
      )
    values (#{id,jdbcType=INTEGER}, #{seimiagentHost,jdbcType=VARCHAR}, #{seimiagentPort,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.wanghaomiao.seimi.model.SeimiAgent">
    insert into seimiagent
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="seimiagentHost != null">
        seimiagent_host,
      </if>
      <if test="seimiagentPort != null">
        seimiagent_port,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="seimiagentHost != null">
        #{seimiagentHost,jdbcType=VARCHAR},
      </if>
      <if test="seimiagentPort != null">
        #{seimiagentPort,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.wanghaomiao.seimi.model.SeimiAgentExample" resultType="java.lang.Long">
    select count(*) from seimiagent
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update seimiagent
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.seimiagentHost != null">
        seimiagent_host = #{record.seimiagentHost,jdbcType=VARCHAR},
      </if>
      <if test="record.seimiagentPort != null">
        seimiagent_port = #{record.seimiagentPort,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update seimiagent
    set id = #{record.id,jdbcType=INTEGER},
      seimiagent_host = #{record.seimiagentHost,jdbcType=VARCHAR},
      seimiagent_port = #{record.seimiagentPort,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.wanghaomiao.seimi.model.SeimiAgent">
    update seimiagent
    <set>
      <if test="seimiagentHost != null">
        seimiagent_host = #{seimiagentHost,jdbcType=VARCHAR},
      </if>
      <if test="seimiagentPort != null">
        seimiagent_port = #{seimiagentPort,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.wanghaomiao.seimi.model.SeimiAgent">
    update seimiagent
    set seimiagent_host = #{seimiagentHost,jdbcType=VARCHAR},
      seimiagent_port = #{seimiagentPort,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>